<a href="https://colab.research.google.com/github/Artur-DesenvolvimentoWEB/Analise_dados_pandas_DIO/blob/main/Projeto_Pandas_DIO_2_Introdu%C3%A7%C3%A3o_Ao_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python para análise de dados com a biblioteca 'Pandas'

In [ ]:
#importando pandas

import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DIO - Python/datasets/Gapminder.csv", error_bad_lines=False,sep=";")

In [ ]:
#5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
#renomeando colunas para português

df = df.rename(columns={"country":"País", "continent":"Continente", "year":"Ano","lifeExp":"Expectativa_de_vida", "pop":"Pop_Total","gdpPercap":"PIB"})

In [ ]:
#5 primeiras linhas (por padrão, a função retorna 5 linhas. No exemplo, estamos pedindo 10 linhas)
df.head(10)
#5 ultimas linhas (por padrão, a função retorna 5 linhas. No exemplo, estamos pedindo 10 linhas)
df.tail(10)

          País Continente   Ano  Expectativa_de_vida  Pop_Total         PIB
3302  Zimbabwe     Africa  1962               52.358    4277736  527.272182
3303  Zimbabwe     Africa  1967               53.995    4995432  569.795071
3304  Zimbabwe     Africa  1972               55.635    5861135  799.362176
3305  Zimbabwe     Africa  1977               57.674    6642107  685.587682
3306  Zimbabwe     Africa  1982               60.363    7636524  788.855041
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [ ]:
#Total de linhas e colunas
a = df.shape
#apenas colunas
b = df.columns
#qual tipo de dado em cada coluna?
c = df.dtypes

print(a)
print(b)
print(c)

(3312, 6)
Index(['País', 'Continente', 'Ano', 'Expectativa_de_vida', 'Pop_Total', 'PIB'], dtype='object')
País                    object
Continente              object
Ano                      int64
Expectativa_de_vida    float64
Pop_Total                int64
PIB                    float64
dtype: object

In [ ]:
#informações estatísticas dos dados da tabela
df.describe()

               Ano  Expectativa_de_vida     Pop_Total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165877
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [ ]:
#retorna os valores únicos da coluna informada
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
#localizando somente dados que contenham OCEANIA como continente
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     País Continente   Ano  Expectativa_de_vida  Pop_Total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [ ]:
#prova real do 'loc' anterior:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [ ]:
#contagem distinta de "Pais" em "Co ntinente"
df.groupby("Continente")["País"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

In [ ]:
#Para cada ano, qual a expectativa de vida média?
df.groupby("Ano")["Expectativa_de_vida"].mean()

In [ ]:


df.groupby("Ano")["Expectativa_de_vida"].mean()

AttributeError: ignored

In [ ]:
#Qual a média do PIB?
df["PIB"].mean()

37482287.5451553

In [ ]:

df1 = df["Ano"].isin([2000, 2010])
df1

0       False
1       False
2       False
3       False
4       False
        ...
3307    False
3308    False
3309    False
3310    False
3311    False
Name: Ano, Length: 3312, dtype: bool