<a href="https://colab.research.google.com/github/Artur-DesenvolvimentoWEB/Analise_dados_pandas_DIO/blob/main/Projeto_Pandas_DIO_1_PythonBasico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1> Primeiro comando em Python </h1>
<h2> 'Hello Word' em Python </h2>

---

In [ ]:
#formas de printar "Olá mundo" em Python
print("Olá Mundo")
'Olá mundo'

Olá Mundo

'Olá mundo'

<h1>Matematica básica em Python</h1> <h2>Soma/Subtração/Multiplicação/Divisão<h2>

In [ ]:
#calculos basicos em python
print("Digite 2 numeros a serem operados: ")
x = float(input("Digite o primeiro numero: "))
y = float(input("Digite o segundo numero: "))

soma = x + y
subtracao = x - y
multiplicacao = x * y
divisao = x / y

print("Soma: {}, Subtração: {}, Multiplicação: {}, Divisão: {}".format(soma,subtracao,multiplicacao, divisao))

Digite 2 numeros a serem operados:
Digite o primeiro numero: 10
Digite o segundo numero: 10
Soma: 20.0, Subtração: 0.0, Multiplicação: 100.0, Divisão: 1.0

<h1>Manipulação de Strings - Básico</h1>

In [ ]:
#Manipulando strings

#criando string
frase = "Python é amor, python é vida!"

a = frase[0] #pegando primeiro caractere no indice da string
b = frase[0:12] #pegando do caractere da posição 0 até a posição 12
c = frase[10:] #pegando tudo a partir da 10ª posição no indice da string
d = frase[:17] #pegando tudo até a 17ª posição no indice da string
e = frase.count("amor") #contando quantas vezes a palavra "dados" aparece na string
f = frase.lower() #funcao que retorna o conteudo da frase em lower case
g = frase.upper() #funcao que retorna o conteudo da frase em upper case
h = frase.replace("Python", "Frase") #funcão que altera onde tem 'x' por 'y' na string
a, b, c , d, e, f, g, h

('P',
 'Python é amo',
 'mor, python é vida!',
 'Python é amor, py',
 1,
 'python é amor, python é vida!',
 'PYTHON É AMOR, PYTHON É VIDA!',
 'Frase é amor, python é vida!')

<h1>Estrutura de dados em python</h1>

<h2> LISTAS </**h2**>

In [ ]:
#Declarando listas
animais = [1,2,3]
animais

[1, 2, 3]

In [ ]:
#Uma lista suporta diferentes tipos de dados como strings, inteiros, floats...
animais = ["cachorro", "gato","gato", "papagaio",12345,10.5]
animais

['cachorro', 'gato', 'gato', 'papagaio', 12345, 10.5]

In [ ]:
#Imprimindo elementos da lista por indice
animais[0] #imprime valor no indice informado entre []
animais[3-1] #imprime da posição 3 no indice (0,1,2,3) menos 1 posição (0,1,2)
animais [0] = "papagaio" #altera o valor na posição 0 para "papagaio"

In [ ]:
animais.remove("gato") #remove toda ocorrencia onde houver a palavra "gato"
animais.append("leão") #adiciona no final da lista somente 1 valor
animais.extend(["cobra", "saci", "cascavel"])#extende a lista com 1 ou mais valores
contador = animais.count("papagaio")# conta quantas ocorrencias na lista
animais, contador

(['papagaio',
  'gato',
  'papagaio',
  12345,
  10.5,
  'leão',
  'cobra',
  'saci',
  'cascavel'],
 2)

In [ ]:
a = "gato" in animais  #boolean - existe gato em lista 'animais'? TRUE OR FALSE
b = "leão" not in animais #boolean - não existe leão em lista 'animais'? TRUE OR FALSE
a, b

(True, False)

In [ ]:
lista = [10,20,30,500,100,800,10000]
a = max(lista) #pega o valor maximo da lista
b = min(lista) #pega o valor minimo da lista
print(a, b)
lista.sort()#ordena a lista de forma crescente
print(lista)
lista.sort(reverse=True)#ordena a lista de forma decrescente
print(lista)
print(type(lista))#qual tipo de dado a variavel "lista" é?

10000 10
[10, 20, 30, 100, 500, 800, 10000]
[10000, 800, 500, 100, 30, 20, 10]
<class 'list'>

## TUPLAS

In [ ]:
#Tuplas são declaradas por parênteses. Tuplas são IMUTAVEIS
tupla = ("Banana", "Laranja", "Maça", 14, 7.7)
a = tupla[0]
b = tupla.count("Maça")
c = tupla [0:2]

print(a)
print(b)
print(c)
print(type(tupla))#qual tipo de dado a variavel "tupla" é?

Banana
1
('Banana', 'Laranja')
<class 'tuple'>

##DICIONÁRIOS

In [ ]:
#Para criar um dicionario utilizamos {}. Composto por chave:valor
dicionario = {"Maça":1.99,"Banana":4.50,"Laranja":4.20, "Uva":7.99}
print(dicionario)
print(type(dicionario))#qual tipo de dado a variavel "dicionario" é?

{'Maça': 1.99, 'Banana': 4.5, 'Laranja': 4.2, 'Uva': 7.99}
<class 'dict'>

In [ ]:
#Acessamos o valor de um dicionario atraves da chave(somente assim)
dicionario['Maça']
print(dicionario)
#Atualizando valor de um dicionario
dicionario["Maça"] = 25
print(dicionario)

{'Maça': 1.99, 'Banana': 4.5, 'Laranja': 4.2, 'Uva': 7.99}
{'Maça': 25, 'Banana': 4.5, 'Laranja': 4.2, 'Uva': 7.99}

In [ ]:
#Retornando todas as chaves de um dicionario
a = dicionario.keys()
#Retornando todos os valores de um dicionario
b = dicionario.values()
print("Chaves: {}.\nValores: {}".format(a, b))

Chaves: dict_keys(['Maça', 'Banana', 'Laranja', 'Uva']).
Valores: dict_values([25, 4.5, 4.2, 7.99])

In [ ]:
#Verificando se existe uma chave no dicionario, caso não, insere no dicionario
dicionario.setdefault("Limão", 22)
print(dicionario)

{'Maça': 25, 'Banana': 4.5, 'Laranja': 4.2, 'Uva': 7.99, 'Limão': 22}